# Introduction/Business Problem

France is a country which tries to attract an increasing number of highly skilled migrants.
Paris-the capital city-has the status of a world-city, comparatively to New York, London or Tokyo. Paris has concentrated many multinational companies, so much so that many of the high-skilled jobs in France are solely present in Paris and nowhere else in the country (trader, financial structurer, big data engineer...).
As many studies have shown that skilled migrants have a higher propensity to create new, innovative businesses (even compared to the native population, let alone the low-skilled migrants), it could be a great investment for France to attract skilled migrants in regions outside of Paris in particular. The latter could help decrease regional disparities in the country, hoping for better public infrastructure to develop outside of the capital city.

The regions of France aren't well known to most foreigners outside of Europe. Here, as our data science project, we try to build a dashboard allowing to evaluate the different provinces of France, known as "département".
The dashboard allows to make an informed decision regarding where is best to move, based on the following data:
- real estate prices (houses and apartments)
- average net income
- number of middle and high schools
The dashboard also provides the longitude and latitude of the département, so one may easily find extra information online thanks to both metrics.

# Data

Average net incomes:
https://www.journaldunet.com/business/salaire/classement/departements/salaires
https://www.journaldunet.com/business/salaire/classement/departements/salaires?page=2

Real estate prices:
https://www.consortium-immobilier.fr/prix/

Statistics on middle and high schools:
https://www.insee.fr/fr/statistiques/2012787#tableau-TCRD_061_tab1_departements

# Code

In [78]:
!pip install geocoder
!pip install bs4
import pandas as pd
import requests
from bs4 import BeautifulSoup
import geocoder

/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/secretstorage/dhcrypto.py:16: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/secretstorage/util.py:25: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
Requirement already satisfied: geocoder in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (1.38.1)
Requirement already satisfied: six in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (1.15.0)
Requirement already satisfied: future in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (0.18.2)
Requirement already satisfied: click in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (7.1.2)
Requirement already satisfied: requests in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (2.24.0)
Requirement already satisfied: ratelim in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (0.1.6)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->geocoder) (1.25.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->geocoder) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->geocoder) (2.9)
Requirement already satisfied: decorator in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ratelim->geocoder) (4.4.2)
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/secretstorage/dhcrypto.py:16: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/secretstorage/util.py:25: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
Requirement already satisfied: bs4 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from bs4) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from beautifulsoup4->bs4) (2.0.1)

In [198]:
income=[]
url = 'https://www.journaldunet.com/business/salaire/classement/departements/salaires'
page = requests.get(url).text
soup = BeautifulSoup(page, 'html.parser')
for table in soup.find_all("table"):
    for row in table.find("tbody").find_all("tr"):
        col = row.find_all("td")
        income.append(col[0].text)
        income.append(col[1].text)
        income.append(col[2].text)
url = 'https://www.journaldunet.com/business/salaire/classement/departements/salaires?page=2'
page = requests.get(url).text
soup = BeautifulSoup(page, 'html.parser')
for table in soup.find_all("table"):
    for row in table.find("tbody").find_all("tr"):
        col = row.find_all("td")
        income.append(col[0].text)
        income.append(col[1].text)
        income.append(col[2].text)
        
dpt_number=[]
dpt_name=[]
income_net=[]
i=0
while i<len(housing)-2:
    dpt_name.append(income[i+1])
    income_net.append(income[i+2])
    i=i+3

latitude=[]
longitude=[]
i=0
while i<len(dpt_name):
    address = geocoder.arcgis(dpt_name[i])
    lat_long_coordinates=address.latlng
    latitude_data=lat_long_coordinates[0]
    longitude_data=lat_long_coordinates[1]
    latitude.append(latitude_data)
    longitude.append(longitude_data)
    i=i+1

income_tab = pd.DataFrame({'Department' : dpt_name,
                            'Net income' : income_net, 
                            'Longitude' : longitude,
                            'Latitude' : latitude}, 
                            columns=['Department', 'Net income', 'Longitude', 'Latitude'])

In [199]:
housing=[]
url = 'https://www.consortium-immobilier.fr/prix/'
page = requests.get(url).text
soup = BeautifulSoup(page, 'html.parser')
for table in soup.find_all("table"):
    for row in table.find("tbody").find_all("tr"):
        col = row.find_all("td")
        housing.append(col[0].text)
        housing.append(col[1].text)
        housing.append(col[2].text)
i=0
while i<len(housing):
    if housing[i] == '01 - Ain':
        saver_1=i
    if housing[i] == '1530 €':
        saver_2=i+1
    i=i+1

housing=housing[saver_1:saver_2]
house_price=[]
apt_price=[]
dpt_price=[]
i=0
while i<len(housing)-2:
    dpt_price.append(housing[i])
    apt_price.append(housing[i+1])
    house_price.append(housing[i+2])
    i=i+3

In [200]:
school=[]
url = 'https://www.insee.fr/fr/statistiques/2012787#tableau-TCRD_061_tab1_departements'
page = requests.get(url).text
soup = BeautifulSoup(page, 'html.parser')
for table in soup.find_all("table"):
    for row in table.find("tbody").find_all("tr"):
        col = row.find_all("td")
        col_0 = row.find_all("th")
        school.append(col_0[0].text)
        school.append(col[0].text)
        school.append(col[1].text)
        school.append(col[2].text)
        school.append(col[3].text)
        school.append(col[4].text)
        school.append(col[5].text)
        school.append(col[6].text)
        school.append(col[7].text)

i=0
while i<len(school):
    if school[i] == "Val-d'Oise":
        saver_1=i
    i=i+1

school=school[0:saver_1+9]

col_dpt=[]
col_0=[]
col_1=[]
col_2=[]
col_4=[]
col_5=[]
col_6=[]
col_7=[]
i=0
while i<len(school)-8:
    col_dpt.append(school[i])
    col_0.append(school[i+1])
    col_1.append(school[i+2])
    col_2.append(school[i+3])
    col_4.append(school[i+5])
    col_5.append(school[i+6])
    col_6.append(school[i+7])
    col_7.append(school[i+8])
    i=i+9

i=0
while i<len(col_dpt)-1:
    if col_dpt[i]=="Corse-du-Sud":
        col_dpt[i]="Corse"
        col_0[i]=int(col_0[i])+int(col_0[i+1])
        col_1[i]=int(col_1[i])+int(col_1[i+1])
        col_2[i]=int(col_2[i])+int(col_2[i+1])
        col_4[i]=int(col_4[i])+int(col_2[i+1])
        col_5[i]=int(col_5[i])+int(col_5[i+1])
        col_6[i]=int(col_6[i])+int(col_6[i+1])
        col_7[i]=int(col_7[i])+int(col_7[i+1])  
        i=i+1
        while i<len(col_dpt)-1:
            col_dpt[i]=col_dpt[i+1]
            col_0[i]=col_0[i+1]
            col_1[i]=col_1[i+1]
            col_2[i]=col_2[i+1]
            col_4[i]=col_4[i+1]
            col_5[i]=col_5[i+1]
            col_6[i]=col_6[i+1]
            col_7[i]=col_7[i+1]
            i=i+1
    i=i+1

k=len(col_dpt)-1
col_dpt=col_dpt[0:k]
col_0=col_0[0:k]
col_1=col_1[0:k]
col_2=col_2[0:k]
col_4=col_4[0:k]
col_5=col_5[0:k]
col_6=col_6[0:k]
col_7=col_7[0:k]
    
schools = pd.DataFrame({'Department' : col_dpt,
                                'Public-middle school' : col_0,
                                'Public-professional high school' : col_1,
                                'Public-general high school' : col_2,
                                'Private-middle school' : col_4,
                                'Private-professional high school' : col_5,
                                'Private-general high school' : col_6,
                                'House price' : house_price,
                                'Apartment price' : apt_price}, 
                                columns=['Department','Public-middle school','Public-professional high school', 'Public-general high school','Private-middle school','Private-professional high school','Private-general high school','House price','Apartment price'])

In [216]:
income_tab.sort_values(by=['Department'], ascending = True)

                 Department           Net income  Longitude   Latitude
28                      Ain  2 179 € nets / mois   5.348813  46.099783
67                    Aisne  2 013 € nets / mois   3.559268  49.561125
83                   Allier  1 956 € nets / mois   3.187624  46.393635
12          Alpes-Maritimes  2 313 € nets / mois   7.116190  43.938015
53  Alpes-de-Haute-Provence  2 039 € nets / mois   6.244721  44.106228
..                      ...                  ...        ...        ...
84                   Vendée  1 941 € nets / mois  -1.298774  46.674694
59                   Vienne  2 028 € nets / mois  16.368420  48.202630
76                   Vosges  1 978 € nets / mois   6.380268  48.196247
65                    Yonne  2 018 € nets / mois   3.563282  47.840536
2                  Yvelines  3 268 € nets / mois   1.841223  48.815273

[95 rows x 4 columns]

In [217]:
schools.sort_values(by=['Department'], ascending = True)

,Department,Public-middle school,Public-professional high school,Public-general high school,Private-middle school,Private-professional high school,Private-general high school,House price,Apartment price
0,Ain,51,5,12,16,5,5,1787 €,1538 €
1,Aisne,57,10,15,17,5,10,1947 €,1839 €
2,Allier,37,3,9,8,3,7,1609 €,1876 €
5,Alpes-Maritimes,73,13,22,21,9,24,1792 €,2224 €
3,Alpes-de-Haute-Provence,19,2,7,3,2,1,2290 €,2294 €
...,...,...,...,...,...,...,...,...,...
84,Vendée,34,4,10,35,8,13,2341 €,1859 €
85,Vienne,34,7,12,14,3,5,2116 €,2268 €
87,Vosges,38,8,11,10,5,5,2066 €,2306 €
88,Yonne,30,3,7,4,1,5,1916 €,2153 €
77,Yvelines,116,7,42,37,9,27,1658 €,2489 €